<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="/">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> My Dashboard</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="home_slider2  p-b-2">
					<div class="news_top_heading">
						<h1 class="h1_heading">Your Posts:</h1>
						<a href="news-post" class="update_btn"><img src="images/icons/cloud-computing.svg"> Write Something</a>
					</div>
				</div>
				</div>
			</div><!--end/row-->
			
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="dashboard_txt">
						<% news.forEach(news => { %>
						
						<div class="dashoard_cntnt">
							<a href="news-inner">
								<h5><%= news.title%></h5>
							</a>
							<p class="new_t_tag_clr"><%= news.description%></p>
							<div class="polls_share_btn">
							  	<ul>
							  		<li><a href="news-post/edit/<%=news.id%>" class="polls_fc"><span><i class="fas fa-edit"></i></span>Edit Post</a></li>
							  		<li><a href="news-post/delete/<%=news.id%>" class="polls_tw"><span><i class="fas fa-trash"></i></span>Delete</a></li>
							  	</ul>
							 </div>
						</div><!--end/cntnt-->
						<% }) %>
					</div>
					
				</div><!--end/col-->

				<!-- start pagination -->
				<div class="indya_container news_pagination_p_t">
					<div class="indya_row">
						<div class="indya_col-12">
							<div class="new_pagination">
								<ul>
									<li>
										<a href="#"><img src="images/icons/back2.svg"></a>
									</li>
									<li>
										<a href="#" class="active">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
									</li>
									<li>
										<a href="#">....</a>
									</li>
									<li>
										<a href="#">10</a>
									</li>
									<li>
										<a href="#"><img src="images/icons/next2.svg"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end pagination -->

			</div><!--end/row-->
			
		</div>
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<%- include ('usefull-links') %>
				<%- include ('right-media') %>
				<!-- end follow -->
		</div>
		<!-- right menu -->
	</div>
</div>
<!-- end middle content -->
<%- include ('footer') %>