<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include('header') %>
<!-- start middle content -->
<div class="indya-container-fluid indya_sec_p content">
	<div class="indya-container">
		<!-- right contetnt -->
		<div class="indya-row">
			
			<div class="indya-col-xl-9 indya-col-md-7">
				<div class="indya-row">
					<div class="indya-col-xl-6 indya-col-md-12">
						<div class="middle_news">
							<!-- heading -->
								<div class="contnt_heading">
									<h1 class="h1_heading">Top <span class="h1_spanclr">Story</span></h1>	
								</div>
								<!-- heading -->
								<!-- img -->
								<div class="middle_new_img">
									<a href="#">
										<img src="images/img1.jpg">
									</a>
								</div>
								<!-- img -->
								<!-- cntnt -->
								<div class="middle_news_content">
								<h3 class="h3_heading">Dukandar Or Mahila</h3>
									<ul>
										<li>
											<a href="#">Generate Lorem Ipsum placeholder text. Select the number of characters.</a>
										</li>
										<li>
											<a href="#">Generate Lorem Ipsum placeholder text. Select the number of characters.</a>
										</li>
										<li>
											<a href="#">Generate Lorem Ipsum placeholder text. Select the number of characters.</a>
										</li>
										<li>
											<a href="#">Generate Lorem Ipsum placeholder text. Select the number of characters.</a>
										</li>

									</ul>
								</div>
								<!-- cntnt -->
						</div>
					</div><!--col/end-->
					<div class="indya-col-xl-6 indya-col-md-12">
						<div class="middle_news">
							<!-- heading -->
								<div class="contnt_heading">
									<h1 class="h1_heading">TODAY'S  <span class="h1_spanclr">POLL</span></h1>	
								</div>
								<!-- heading -->

								<!-- cntnt -->
								<div class="polls_cntnt home_polls">
									<a href="polls.php"><h3>Do you support Citizen Amendment Bill 2019 (CAB)?</h3></a>
								   <div class="polls_chack_box">
										<ul>
											<li>
												<label class="container">A : Yes
												  <input type="radio" checked="checked" name="radio1">
												  <span class="checkmark"></span>
												</label>
												<label class="container">B : No
												  <input type="radio" name="radio1">
												  <span class="checkmark"></span>
												</label>
												<label class="container"> C : I do not know what it is
												  <input type="radio" name="radio1">
												  <span class="checkmark"></span>
												</label>
												<label class="container"> D : Neutral
												  <input type="radio" name="radio1">
												  <span class="checkmark"></span>
												</label>
											</li>
										</ul>
								  </div>
								  <!--start polls review cntnt -->
								  <div class="polls_revies_cntnt">
								  	<h4>Polls till now</h4>
								  	<ul>
								  		<li>
								  			9 Polls till now
								  		</li>
								  		<li>
								  			9 Polls till now
								  		</li>
								  		<li>
								  			9 Polls till now
								  		</li>
								  		<li>
								  			9 Polls till now
								  		</li>
								  	</ul>
								  </div>
								  <!--end polls review cntnt -->
								  <div class="polls_share_btn">
								  	<ul>
								  		<li><a href="#" class="more_btn">See More Polls</a></li>
								  	</ul>
								  </div>
								</div>
								<!-- cntnt -->
						</div>
					</div><!--col/end-->
				</div><!--row/end-->
			</div>
			<!-- google ads -->
			<div class="indya-col-xl-3 indya-col-md-5">
				<!-- start follow -->
				<?php include 'right-media.php';?>
				<!-- end follow -->

			</div>
		</div>

</div>
</div>
<!-- end middle content -->
<!-- start jokes -->
<div class="indya-container-fluid jokes_cntnt">
	<div class="indya-container">
		<div class="indya-row">
					<div class="indya-col-md-12">
						<div class="jokes_cntnt2">
							<h1 class="h1_heading">Fresh <span>Jokes</span></h1>
							<a href="#" class="joke_a">Sharma ji se le lena</a>
							<p>Ek aurat: Ja beta samne wali aunti ke yaha se ek katori cheeni le aa. ladka gaya aur bola: Aunti mummy ne ek katori cheeni mangai hai Aunti cheeni dete hue boli achha bete aur kya kaha mummy ne… Bachha: Aur mummy ne kaha tha agar woh kutiya na de toh sharma ji se le lena!</p>
							<a href="#" class="more_btn">See More</a>
						</div>
					</div>
				</div><!--row/end-->
	</div>
</div>
<!-- end jokes -->
<!-- start article  -->
<div class="indya-container-fluid indya_sec_p">
	<div class="indya-container">
		<!-- right contetnt -->
		<div class="indya-row">
			
			<div class="indya-col-md-9">
				<div class="indya-row">
					<div class="indya-col-md-6">
						<div class="middle_news">
							<!-- heading -->
								<div class="contnt_heading">
									<h1 class="h1_heading">Articles <!-- <span class="h1_spanclr">Story</span> --></h1>	
								</div>
								<!-- heading -->
								<!-- img -->
								<div class="middle_new_img">
									<a href="#">
										<img src="images/img1.jpg">
									</a>
								</div>
								<!-- img -->
								<!-- cntnt -->
								<div class="middle_news_content_img middle_cntn_p">
									<a href="#">
										<h3 class="h3_heading">Software ADs on Doordarshan!</h3>
									</a>
									<p class="new_t_tag_clr">
										"The man , The Machine, The Software - PeopleSoft VII"
										<br><br>
										Boy - "I am a PB boy"<br>
										Girl - "I am a PB gal"<br>
										"Badte bacho ke liye complete software - Powerbuilder"
										<br><br>
										"Eat bugs, Sleep bugs.....Do only debugs"
										<br><br>
										Internet Programmer - "I got the ASP power , now u go get it!!!"
									</p>
									</div>
								<!-- cntnt -->
						</div>
					</div><!--col/end-->
					<div class="indya-col-md-6">
						<div class="middle_news">
							<!-- heading -->
								<div class="contnt_heading">
									<h1 class="h1_heading">Latest   <span class="h1_spanclr">Poetry</span></h1>	
								</div>
								<!-- heading -->
								<!-- img -->
								<div class="middle_new_img">
									<a href="#">
										<img src="images/img1.jpg">
									</a>
								</div>
								<!-- img -->
								<!-- cntnt -->
								<div class="middle_news_content_img middle_cntn_p">
									<a href="#">
										<h3 class="h3_heading">5'6" jiski height ho...</h3>
									</a>
										<p class="new_t_tag_clr">
											5'6" jiski height ho,<br>
											.<br>
											.<br>
											Chehra jiska bright ho,
											.<br>
											.<br>
											Weight mein thodi light ho,<br>
											.<br>
											.<br>
											Umar mein difference slight ho,<br>
											.<br>
											.<br>
											Thodi quiet ho, sadak pe sab<br>
										</p>
									</div>
								<!-- cntnt -->
						</div>
					</div><!--col/end-->
				</div><!--row/end-->
			</div>
			<!-- google ads -->
			<div class="indya-col-md-3">
				<!-- start lastest new  -->
				<div class="lastest_new">
					<h3>Latest News</h3>
					<% if(News){ %>
					<ul>
						<% News.forEach(News =>{ %>
						<li>
							<a href="news/<%= News.id %>">
								<div class="lastest_new_cntnt">
									<div class="lastest_new_img">
										<img src="<%= News.img %>">
									</div>
									<div class="lastest_new_cntnt">
										<h5><%= News.title %> </h5>
										<p> - Jan 09,2020</p>
									</div>
								</div>
							</a>
						</li>
						<% }) %>%>
					</ul>
					<%}else{%>
						<p>Not fund news</p>
						<%}%>
				</div>
				<!-- end lastest new -->
			</div>
		</div>

</div>
</div>
<!-- end aericle -->
<!-- start forums -->
<div class="indya-container-fluid forums_bg today_poll_bg_clr">
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-col-md-12">
					<div class="forum">
						<h1 class="h1_heading">Forums</h1>
						</div>
				</div><!--row/end-->
				
		</div>
		<div class="indya-row">
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="forums_cntnt">
					<div class="formus_img">
						<img src="images/img1.jpg">
					</div>
					<div class="formus_cntnt">
						<a href="#" class="a_heading">BI in Upstream Production operations</a>
						<p>Appreciate if you can assist in the following areas: 1) Examples of life before and after BI in Up</p>
						<!-- <a href="#" class="more_btn">See More</a> -->
					</div>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="forums_cntnt">
					<div class="formus_img">
						<img src="images/img1.jpg">
					</div>
					<div class="formus_cntnt">
						<a href="#" class="a_heading">BI in Upstream Production operations</a>
						<p>Appreciate if you can assist in the following areas: 1) Examples of life before and after BI in Up</p>
						<!-- <a href="#" class="more_btn">See More</a> -->
					</div>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="forums_cntnt">
					<div class="formus_img">
						<img src="images/img1.jpg">
					</div>
					<div class="formus_cntnt">
						<a href="#" class="a_heading">BI in Upstream Production operations</a>
						<p>Appreciate if you can assist in the following areas: 1) Examples of life before and after BI in Up</p>
						<!-- <a href="#" class="more_btn">See More</a> -->
					</div>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="forums_cntnt">
					<div class="formus_img">
						<img src="images/img1.jpg">
					</div>
					<div class="formus_cntnt">
						<a href="#" class="a_heading">BI in Upstream Production operations</a>
						<p>Appreciate if you can assist in the following areas: 1) Examples of life before and after BI in Up</p>
						<!-- <a href="#" class="more_btn">See More</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end forums -->
<!-- start mclasssdle today's poll -->
<div class="indya-container-fluid indya_sec_p">
	
	<div class="indya-container">
		<div class="indya-row">
		<div class="indya_col-12">
			<div class="middle_top_story">
				<h1 class="h1_heading">Others</h1>
			</div>
		</div>
	</div><!--end/row-->
		<div class="indya-row">
		<div class="indya-col-lg-4 indya-col-md-12">
			<div class="middle_news">
			
					<div class="middle_news_content_img">
					<h3 class="h3_heading">What is Lorem Ipsum?</h3>
						<ul>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				
			</div>
		</div><!--end/col-->
		<div class="indya-col-lg-4 indya-col-md-12">
			<div class="middle_news">
			
					<div class="middle_news_content_img">
					<h3 class="h3_heading">What is Lorem Ipsum?</h3>
						<ul>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				
			</div>
		</div><!--col/end-->
		<div class="indya-col-lg-4 indya-col-md-12">
			<div class="middle_news">
			
					<div class="middle_news_content_img">
					<h3 class="h3_heading">What is Lorem Ipsum?</h3>
						<ul>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="indya-row">
										<div class="indya-col-md-3" style="padding-left: 0px;padding-right: 0px;">
											<div class="left_img_new">
												<img src="images/img1.jpg">
											</div>
										</div>
										<div class="indya-col-md-9">
											<p class="new_t_tag_clr">Lorem Ipsum is simply dummy text of the printing.</p>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				
			</div>
		</div><!--end/row-->
		
	</div>
	</div>
</div>
<!-- end middle jokes fresh -->


<%- include('footer') %>



