<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Ring Tone</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Write an Article/ Poem / Joke or anything</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start polls content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="login_main_box">
					<div class="logintxt">
						<!-- <h1 class="h1_heading" style="text-align: center;">Write an Article/ Poem / Joke or anything</h1> -->
					</div>
					<div class="loginform pages_post">
						<% if(messages.error){%>
							<span style="color: red;"><%=messages.error%></span>	
						<% }%>
						<form  method="post" action="/news-post/edit/<%= news.id %>" encType="multipart/form-data">

							<ul>
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Title</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<input type="text" value="<%= news.title%>" name="title" placeholder="Enter Title" >
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-md-4 indya-col-lg-3">
											<label>Description</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<textarea cols="" rows="" value=""  placeholder="Enter Description"><%= news.description %></textarea>
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Photo</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											
											<input type="file" name="img"  style="top:0;left:0;position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;z-index: 1;"  />
											<div  class="post_image" >
												<span><img src="images/icons/cloud-computing.svg"></span> <span>Upload Image</span>
											</div>
											<div class="edit_image">
												<img src="<%= news.img%>" style="width: 100%;height: 100%;">
												<input type="hidden" name="old_img" value="<%= news.img%>">
											</div>
										</div>
									</div>
								</li>
								<li class="submit_btn">
									<div class="indya-row">
										<div class="indya-col-md-6"></div>
										<div class="indya-col-md-6">
											<input type="submit" name="" value="Update File">
										</div>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>
			
		</div><!--end/col-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			<%- include ('right-media') %>
			<!-- end follow -->
		</div>
	</div><!--end/row-->
</div>
<!-- end polls content -->



<%- include ('footer') %>