<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Ring Tone</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header')%>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="/">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Polls</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start polls content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="home_slider2">
						<div class="news_top_heading">
							<h1 class="h1_heading">Get Latest Polls</h1>
							<a href="/post-polls" class="update_btn"><img src="images/icons/cloud-computing.svg"> Update Polls</a>
						</div>
					</div>
				</div><!--end/col-->
			</div><!--end/row-->
			<div class="indya-row">

				<% polls.forEach((polls)=>{ %>

				<div class="indya-col-md-6">
					<div class="polls_cntnt">
						<a href="inner-polls.php"><h3><%= polls.question %></h3></a>
					   <div class="polls_chack_box">
							<ul>
								<li>
									<label class="container">A : <%= polls.optionA %>
									  <input type="radio" checked="checked" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container">B : <%= polls.optionB %>
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container"> C : <%= polls.optionC %>is
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container"> D : <%= polls.optionD %>
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
								</li>
							</ul>
					  </div>
					  <!--start polls review cntnt -->
					  <div class="polls_revies_cntnt">
					  	<h4>Polls till now</h4>
					  	<ul>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  	</ul>
					  </div>
					  <!--end polls review cntnt -->
					  <div class="polls_share_btn">
					  	<ul>
					  		<li><a href="#" class="polls_fc"><span><img src="images/icons/facebook.svg"></span></a></li>
					  		<li><a href="#" class="polls_tw"><span><img src="images/icons/twitter2.svg"></span></a></li>
					  		<li><a href="#" class="polls_whatsapp"><span><img src="images/icons/whatsapp.svg"></span></a></li>
					  		<li><a href="#" class="polls_instragram"><span><img src="images/icons/instagram.svg"></span></a></li>
					  	</ul>
					  </div>
					</div>
				</div><!--end/col-->
				<% }) %>
				
			</div><!--end/row-->

		</div><!--end/col-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			 <%- include('usefull-links') %>
			<%- include ('right-media') %>
			<!-- end follow -->
		</div>
	</div><!--end/row-->
</div>
<!-- end polls content -->




<%- include ('footer') %>