
<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <%- include('header') %>
<!-- login -->
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-col-md-8 media_fullwidth">
				<div class="login_main_box">
					<div class="logintxt">
						<h1 class="h1_heading">Sign Up</h1>
					</div>
					<% if(messages.info){%>
						<span style="color: red;"><%=messages.info%></span>	
					<% }%>
					<span></span>
					<div class="loginform">
						<form action="/signup" method="post">
							<ul>
								<li>
									<input type="text" value="<%=messages.name%>" name="name" placeholder="Name">
								</li>
								<li>
									<input type="email" value="<%=messages.email%>" name="email" placeholder="Email">
								</li>
								<li>
									<input type="password" value="<%=messages.password%>" name="password" placeholder="Password">
								</li>
								<li>
									<input type="password" name="re_password" placeholder="Re-Enter password">
								</li>
								<!-- <li>
									<input type="password" name="" placeholder="Enter the above code">
								</li> -->
								<li>
									<p class="sign_terms_condition">By registering, You agree to our <a href="#">terms of service</a></p>
								</li>
								<li class="sign_btn_m">
									<input type="submit" name="" value="Sign Up">
								</li>
							</ul>
						</form>
						<!-- login with facabook & gmail  -->
						<div class="indya_row">
							<div class="indya_col-12">
								<div class="loginwith">
									<p>Or Sign Up Using</p>
									<ul>
												<li class="face_icon">
													<a href="#"><img src="images/icons/facebook.svg"></a>
												</li>
												<li class="twit_icon">
													<a href="#"><img src="images/icons/twitter.svg"></a>
												</li>
												<li class="google_icon">
													<a href="#"><img src="images/icons/google-plus.svg"></a>
												</li>
									</ul>
								</div>
								<div class="sinup_cntnt">
									<p>Have Not Account Yet?</p>
									<a href="/login">Log In</a>
								</div>
							</div>
						</div>
						<!-- login with facabook & gmail  -->
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- end login -->
<%- include('footer') %>
